<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добро пожаловать</title>
</head>
<body>
    <header>
        <h1>Добро пожаловать!</h1>
    </header>

    <div class="content">
        <h2>Выберите приложение:</h2>
        <ul>
            <li><a href="/time_of_day/">Текущее время и дата</a></li>
            <li><a href="/day_of_week/">День недели</a></li>
            <li><a href="/cars/">Автомобили</a></li>
            <li><a href="/en/">Текст песни на разных языках</a></li>
        </ul>
    </div>

    <footer>
        &copy; 2023
    </footer>
</body>
</html>
